@import "src/_globals";



.navItem {
  margin-left: 10px;
  margin-right: 10px;

  a::after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  a:hover::after {
    width: 100%;
    background: $sails-text;
  }

  .linkActive {
    color: $sails-dark-primary;
  
    &::after {
      width: 100%;
      background: $sails-dark-primary !important;
    }
  
    &:hover {
      color: $sails-dark-primary;
    }
  }
}
