@import "src/_globals";

.title {
  text-align: left;
  color: white;
  font-size: 88px;
  padding: 72px 0px;
}

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .artistDetailWrapper {
    width: 0;
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }

  .artistDetailWrapper {
    position: sticky;
    display: flex;
  }
}

.detailContainer {
  border: 3px solid white;
  color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-height: 650px;
  position: sticky;
  top: 50px;
  z-index: 10;
  width: 325px;
  h3 {
    font-size: 32px;
  }
}

.pageContainer {
  display: flex;
  flex-direction: row;
}

.socialsContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.lineupImage {
  width: 275px;
}

.descriptionContainer {
  text-align: justify;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px 10px;
}

.artistContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.artistName {
  position: relative;
  color: $sails-text;
  background-color: rgba(72, 77, 109, 0.6);
  width: 225px;
  font-size: 26px;
  border: solid $sails-text 2px;
  bottom: 70px;
  margin: 5px 5px -50px 5px;
  z-index: 2;
}

.playlist {
  margin-top: 10px;
  width: auto;
  height: 80px;
}
