.App {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .Background {
    background-image: url("assets/images/sails-bg.jpg");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  .buttons {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .Background {
    background-image: url("assets/images/sails-bg.jpg");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: -1;
  }

  .buttons {
    justify-content: flex-start;
  }

  .navbar-end {
    align-items: center;
  }
}
